//Colors

//Primary

$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

//Neutral

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

$light-violet: hsl(264, 82%, 70%);

//Fonts
$font-primary: 'Barlow Semi Condensed', sans-serif;

//Breakpoints
$br-small: 32.5em;
$br-medium: 43.75em;
$br-large: 56.25em;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');